html,
body,
.intro {
  height: 100%;
}

@media (min-width: 550px) and (max-width: 750px) {
  html,
  body,
  .intro {
    height: 550px;
  }
}

@media (min-width: 800px) and (max-width: 850px) {
  html,
  body,
  .intro {
    height: 550px;
  }
}

a.link {
  font-size: .875rem;
  color: #6582B0;
}
a.link:hover, 
a.link:active {
  color: #426193;
}
#login {
    background-color: rgba(41,46,51,1);
}

body {
  background-color: rgba(41, 46, 51, 1);
  color: white;
}
.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
.login-form {
  width: 80%;
  max-width: 400px;
}
.form-group {
  text-align: left;
  margin-bottom: 1.5rem;
}

.btn-login {
  float: right;
  margin-right: 0;
}
.create-account {
  float: right;
  margin-left: 1rem;
}
a.link {
font-size: .875rem;
color: #6582B0;
}
#password {
margin-bottom: 0.5rem !important;
}
.card-body {
margin-top: 1.5rem;
}
input[type="text"], input[type="password"] {
  background-color: rgb(245, 226, 226);
  color: rgb(10, 9, 9);
  border: 1px solid white;
  padding: 10px;
  border-radius: 5px;
}

input[type="text"]::placeholder, input[type="password"]::placeholder {
  color: rgb(94, 90, 90);
}