<!DOCTYPE html>
<html style="font-size: 16px;" lang="fr"><head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <meta name="keywords" content="">
    <meta name="description" content="">
    <title>main</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='nicepage.css') }}" media="screen">
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}" media="screen">
    <link rel="stylesheet" href="{{ url_for('static', filename='page.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='login.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='/bootstrap/css/bootstrap.css') }}">
    <script class="u-script" type="text/javascript" src="{{ url_for('static', filename='jquery.js') }}" defer=""></script>
    <script type="text/javascript" src="{{ url_for('static', filename='jquery.js') }}" ></script>
    <script class="u-script" type="text/javascript" src= "{{ url_for('static', filename='nicepage.js') }}" defer=""></script>
    <meta name="referrer" content="origin">
    <link id="u-theme-google-font" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i|Open+Sans:300,300i,400,400i,500,500i,600,600i,700,700i,800,800i">
    <script src="{{ url_for('static', filename='highcharts/code/highcharts.js') }}"></script>
    <script src= "{{ url_for('static', filename='highcharts/code/highcharts-more.js') }}" ></script>
    <script src= "{{ url_for('static', filename='highcharts/code/modules/solid-gauge.js') }}" ></script>
    <script src= "{{ url_for('static', filename='highcharts/code/modules/exporting.js') }}" ></script>
    <script src= "{{ url_for('static', filename='highcharts/code/modules/export-data.js') }}" ></script>
    <script src= "{{ url_for('static', filename='highcharts/code/modules/accessibility.js') }}" ></script>
    <script src= "{{ url_for('static', filename='bootstrap/js/bootstrap.js') }}" ></script>
    

    <meta name="theme-color" content="#478ac9">
    <meta property="og:title" content="main">
    <meta property="og:type" content="website">
  <meta data-intl-tel-input-cdn-path="intlTelInput/"></head>
  <body data-path-to-root="./" data-include-products="false" class="u-body u-xl-mode" data-lang="fr">
    <header>
      <div class="section container-fluid container0" >
        <div class="row">
          <div class="col">
            <nav class="section navbar navbar-expand-lg navbar-dark ">
              <div class="container-fluid collapse navbar-collapse">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                  <li class="nav-item"><a class="nav-link" aria-current="page" href="/">Accueil</a></li>
                  <li class="nav-item"><a class="nav-link" aria-current="page" href="login">Configuration</a></li>
                  <!-- <button id="loginBtn">Conf</button> -->
                </ul>
              </div>
              <button id="loginBtn">Conf</button> 

            </nav>
          </div>
        </div>
        <div class="col-7"></div>
        <div class="col"><p class="h6 text-light">ESP32 DASBORD</p></div>
      </div>
          
      </nav>
      
  </header> 
  <div id="loginPopup" class="hidden">  </div>

  <div id="modalContainer"></div>
    <div class="section container-fluid" >
      <div class="container">
        <div class="box">
          <div id = "Average-temp" class="container1"></div>
        </div>
        <div class="box">
          <div id = "Average-Humid" class="container1"></div>
        </div>
        <div class="box">
          <div id = "Max-Temp" class="container1"></div>
        </div>
        <div class="box">
          <div id = "Max-Humid" class="container1"></div>
        </div>
    </div>
    </div>
    <div class="section container-fluid" >

      <div id="line-labels" class = "container2"></div>
    </div>
    <div class="section container-fluid">
      <!-- <button type="button" class="btn btn-primary">Primary</button> -->
      <div class="row d-flex align-items-end section2">
        <div class="col col-md-3">
          <label for="datein" class="text-info">Date du:</label>
          <input type="datetime-local" id="datein" class="form-control text-muted">
        </div>
        <div class="col col-md-3">
          <label for="dateout" class="text-info">au:</label>
          <input type="datetime-local" id="dateout" class="form-control text-muted">
        </div>
        <div class="col col-md-3">
          <button type="button" class="btn btn-primary" id="submitButton">Soumettre</button>
        </div>
      </div>
      
      
    </div>
    <div class="section section-4 container-fluid">
      <table class="table table-striped table-responsive table-responsive-sm">
        <thead>
          <tr class="table-primary">
            <th>Capteur</th>
            <th>Date</th>
            <th>Temperature</th>
            <th>Humidite</th>
            <th>Temperature moyenne</th>
            <th>Humidite moyenne</th>
            <th>Capteur failed</th>
          </tr>
        </thead>
        <tbody id="myTable">
          </tbody>
      </table>
      
    </div>
    <div class="section container-fluid">
      <p class="text-light">&copy;Heriniaina</p>
    </div>
    <script src="{{ url_for('static', filename='data.js') }}"></script>
    <script src="{{ url_for('static', filename='table.js') }}"></script>
    <script src="{{ url_for('static', filename='login.js') }}"></script>
  </body>
</html>


